@using PavlikeDATA.Repos
<footer id="page-footer" class=" bg-amethyst-dark text-white">
    <div class="content content-boxed">
        <!-- Footer Navigation -->
        <div class="row push-30-t items-push-2x">
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="frontend_home.html">Home</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_features.html">Features</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_about.html">About Us</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="frontend_login.html">Log In</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_signup.html">Sign Up</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_support.html">Support Center</a>
                    </li>
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20 ">Get In Touch</h3>
                <div class="font-s13 push">
                  Company, Inc.<br>
                    980 Folsom Ave, Suite 1230<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </div>
                <div class="font-s13">
                    <i class="si si-envelope-open"></i> company@example.com
                </div>
            </div>
        </div>
        <!-- END Footer Navigation -->
        <!-- Copyright Info -->
        <div class="font-s12 push-20 clearfix">
            <hr class="remove-margin-t">
            <div class="pull-right">
                Developed by <a class="font-w600" href="#" target="_blank">Pavlike Web Applications and Solutions</a>
            </div>
            <div class="pull-left">
                <a class="font-w600" href="javascript:void(0)" target="_blank">@(new SettingRepository().GetSettings().Title)</a> &copy; <span class="js-year-copy"></span>
            </div>
        </div>
        <!-- END Copyright Info -->
    </div>
</footer>