@{
    ViewBag.Title = "Tema Ayarları";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="row">
    <div class="col-xs-6 col-sm-4 col-lg-4">
        <a class="block block-link-hover3 text-center" href="@Url.Action("Views")">
            <div class="block-content block-content-full">
                <i class="si si-grid fa-4x text-primary-darker"></i>
                <div class="font-w600 push-15-t">Views</div>
            </div>
        </a>
    </div>
</div>

