@model List<PavlikeDATA.Models.View>

@{
    ViewBag.Title = "Viewlar";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="block-header">
                    <button onclick="ActionElement(this)" link="@Url.Action("RegisterView")" title="Yeni View" confirmtext="Ekle" form="viewForm" class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i> Yeni View Ekle</button>
                   </div>
                <div class="block-content">
                    <div id="elementList" link="@Url.Action("ViewList")"></div>
                </div>
            </div>
        </div>
    </div>

</div>
